h1 {
  font-size: 60px;
  background-color: rgb(23, 62, 101);
  color: rgb(250, 255, 255);
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Helvetica", sans-serif;
}