body {
  background-color: #F2FFFC;
  font-family: "Crimson Text", serif;
  font-size: 120%;
}

main a {
  color: #851944;
}

main h1 {
  font-size: 60px;
  background-color: rgb(23, 62, 101);
  color: rgb(250, 255, 255);
  text-align: center;
  padding: 25px;
  margin: 0px;
}

h2 {
  font-size: 40px;
}

h1, h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  text-align: justify;
}

blockquote {
 background-color: #D9E5E3;
 border: 10px #C2CCCA solid;
 width: 250px;
 margin: 0px;
 box-sizing: border-box;
}

blockquote, aside, footer {
  padding: 20px;
}

aside {
  background-color: #3C1D3D;
  padding: 16px
}

aside a {
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

aside {
  text-align: center;
  list-style-type:none;
}

footer {
  background-color: #000;
  color: #F2FFFC;
}

nav a {
  color: #F2FFFC;
  text-decoration: none;
}

ul {
  color: pink;
}

main div {
  width: 720px;
  margin: auto;
}