@import "reset.css";

body {
  background-color: #F2FFFC;
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 120%;
  line-height: 1.5;
}

em {
  font-style: italic;
}

h1 {
  text-transform: uppercase;
}

h1, h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2 {
  clear: both;
}

main {
  float: left;
  width: 85%;
}

main a {
  color: #851944;
}

nav a {
  text-transform: lowercase;
}

p {
  margin: 20px 0;
  text-align: justify;
}

strong {
  font-weight: bold;
}

.article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.bio-quote {
  background-color: #D9E5E3;
  border: 10px solid #C2CCCA;
  box-sizing: border-box;
  margin: 20px 40px;
  width: 250px;
}

.bio-quote, .site-navigator, .footer-page {
  padding: 20px;
}

.container {
  margin: auto;
  padding: 30px 0;
  width: 720px;
}

.footer-page {
  background-color: #000;
  color: #F2FFFC;
}

.main-title {
  background-color: #851944;
  border-bottom: 10px solid black;
  color: #FFF;
  font-size: 60px;
  padding: 25px;
  text-align: center;
}

.my-photo, .site-navigator {
    float: right;
    width: 15%;
 }

 .site-navigator {
   clear: right;
 }

.read-more {
  background-color: #E6E7E8;
  display: block;
  font-size: 24px;
  margin: 16px;
  padding: 8px;
  text-align: center;
}

.site-navigator a {
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

.site-navigator {
  background-color: #3C1D3D;
  box-sizing: border-box;
  color: #F2FFFC;
  text-align: center;
}

.site-navigator h1 {
  font-size: 30px;
  margin-bottom: 25px;
}

.social-network-icons a {
	display: block;
	height: 40px;
	text-indent: -99999px;
	width: 40px;
}

.social-network-icons li{
  display: inline-block;
}

.text-subtitle {
  font-size: 30px;
}

.github {
  background-image: url(github.png);
}

.twitter {
  background-image: url(twitter.png);
}

.linkedin {
  background-image: url(linkedin.png);
}

.fiat {
  float: right;
}

.petrobras {
  float: left;
}

.footer-page {
  clear: both;
}